<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="user01" class="com.zyb.dao.User">
        <property name="username" value="guanyu"/>
    </bean>
    <bean id="user02" class="com.zyb.dao.User">
        <constructor-arg name="username" value="zhangfei"/>
    </bean>
    <bean id="user03" class="com.zyb.dao.User">
        <constructor-arg name="username" value="zhangfei"/>
        <constructor-arg name="age" value="18"/>
    </bean>
    <bean id="user04" class="com.zyb.dao.User">
        <constructor-arg value="true" index="0" type="java.lang.Boolean"/>
        <constructor-arg value="18" index="1" type="int"/>
    </bean>
    <bean id="user05" class="com.zyb.dao.User">
        <property name="card" ref="getIDCard"/>
    </bean>
    <bean id="getIDCard" class="com.zyb.dao.IDCard">
        <property name="id" value="10086"/>
    </bean>

</beans>